<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso protegido</title>
    <link rel="icon" type="image/x-icon" href="/images/asterisco.png">
    <link rel="apple-touch-icon" href="/images/logo-app.png">
    <meta name="theme-color" content="#1e1e1e">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Incluir estilos del tema -->
    <style th:replace="~{fragments/theme-switcher :: theme-styles}"></style>
    <link rel="stylesheet" href="/css/acceso.css">
    <script src="/js/footer-modals.js"></script>
    <script th:replace="~{fragments/theme-switcher :: theme-script-immediate}"></script>
</head>
<body>
<div class="acceso-box">
    <h2>Introduce la contraseña</h2>
    <form th:action="@{/acceso}" method="post">
        <input type="password" name="password" placeholder="Contraseña" required autofocus />
        <div th:if="${error}" class="error" th:text="${error}"></div>
        <button type="submit">Entrar</button>
    </form>
</div>

<!-- Incluir botón de cambio de tema y script -->

<script th:replace="~{fragments/theme-switcher :: theme-script}"></script>

</body>
</html> 